* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}

.btnStatus {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  border-radius: 5px;
  background: #FCC436;
  height: 40px;
  width: 100%;
}

body {
  overflow-x: hidden;
}